/* ALL COMMON CSS START  */
*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 2020px;
}
/* ALL COMMON CSS END  */

/* HEADERPART STYLE START  */
.headerpart{
background-color: rgba(0, 0, 0, 0.817);
display: flex;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 280px;
}
.navbar{
    width: 1320px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo img{
    top: 95px;
    left: -330px;
position: absolute;
height: 75px;
}
.menu{
    display: flex;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    padding: 0 20px;
    transition: .4s;
}
.menu ul li a:hover{
color: #E4B855;
}
.menu ul li button{
    background-color: #E4B855;
    text-transform: uppercase;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: #fff;
}
.menu ul li button:hover{
    background-color: #E6E6E6;
}
/* HEADERPART STYLE END  */


/* BANNER PART START  */
.banner{
    background: url(../images/slider-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.overly{
    background: rgba(0, 0, 0, 0.5);
    padding: 600px 0;
}
.bannertext h1{
    color: #fff;
    font-family:"Playfair Display", serif ;
    text-align: center;
    line-height: 70px;
    font-size: 114px;
}
.bannertext p{
    color:#fff;
    text-align: center;
    font-size: 50px;
    padding: 90px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* BANNER PART END  */

/* 2ND PART START  */
.parent{
    display: flex;
}
.image{
     background: url(../images/about-img.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 1250px;
     width: 2500px;
    }
.text{
    height: 1250px;
    width: 2600px;
}
.text h1{
    padding-top: 380px;
    padding-left: 115px;
    padding-right: 35px;
font-size: 100px;
line-height: 135px;
text-align: start;
font-family: "Playfair Display", serif;
}
.text p{
    color:#606060;
    font-size: 40px;
    padding-left: 115px;
    font-family: Arial, Helvetica, sans-serif;
}
/* 2ND PART END */

/* 3rd PART START  */
.banner2{
background: url(../images/bg-img.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 0 auto;
}
.overly2{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 400px 0;
    text-align: center;
}
.overly2 h1{
    color: #fff;
    font-size: 76px;
    font-family: "Playfair Display", serif;
    padding-top: -350px;
    padding-bottom: 45px;
    
}
.overly2 p{
    color: #ababab;
    font-size: 45px;
    line-height: 25px;
    font-family: "Source Sans Pro", sans-serif;
    padding-bottom: 150px;
}
.flexservice{
    display: flex;
    justify-content: space-between;
}
.serviceitem{
    width: 11%;
    background-color:#E6E6E6;
    text-align: center;
    padding:30px;
transition: .4s;
-webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
}
.serviceitem:hover{
    background-color: #E4B855;
    color: #fff;
}
.serviceitem i{
    font-size: 100px;
    -webkit-box-shadow: 0px 0px 11px -96px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -96px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -96px rgba(0,0,0,0.75);
}
.serviceitem h3{
    font-size: 30px;
    font-weight: 400px;
    text-transform: uppercase;
    padding-top: 60px;
}

/* 3rd PART END  */

/* 4th PART START  */

.main{
    width: 100%;
    height: 1200px;
    background-color: #fff;
    text-align: center;
    
}
.main h1{
    font-size: 80px;
    padding-top: 220px;
}
.main img{
    height: 105px;
    width: 600px;
}
.main p{
    font-size: 50px;
    color: #606060;
    padding-top: 8px;
}
.parentu{
    display: flex;
    position: relative;
    margin-top: 200px;
}
.kid1{
    position: absolute;
    top: 0px;
    left: 0;
    height: 800px;
    width: 50%;
    display: inline-block;
}
.kid1 h1{
    font-size: 80px;
    color: black;
    display: inline-block;
}
.kid2{
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/who-img-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 50%;
    display: inline-block;
}
.kid3{
    position: absolute;
    padding-top: 300px;
    bottom: 0;
    left: 0;
    height: 500px;
    width: 50%;
}
kid4{
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../images/who-img-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 50%;
    display: inline-block;
}
/* 4th PART END  */